# Peer-Graded Assignment: Create and Share your Jupyter Notebook

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
def km_to_miles(km):
    return km * 0.621371

km = 5
km_to_miles(km)

In [ ]:
data = {
    "Name": ["Alex", "Sam", "John", "Riya"],
    "Age": [25, 21, 29, 23],
    "Score": [85, 90, 76, 88]
}

df = pd.DataFrame(data)
df

In [ ]:
df.describe()

In [ ]:
plt.figure(figsize=(6,4))
plt.plot(df["Name"], df["Score"], marker="o")
plt.title("Student Scores")
plt.xlabel("Name")
plt.ylabel("Score")
plt.grid()
plt.show()

In [ ]:
print('Notebook Completed Successfully!')